@page
@model EavWebApp.Pages.Tables.CreateModel
@{
    ViewData["Title"] = "Создать таблицу";
}

<h1>Создать таблицу</h1>

<form method="post">
    <div class="form-group">
        <label>Название таблицы</label>
        <input asp-for="Table.Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Создать</button>
</form>

<p><a asp-page="Index">Назад</a></p>
