@page
@model EavWebApp.Pages.Tables.CreateModel

@{
    ViewData["Title"] = "Создать таблицу";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="form-group">
        <label>Название</label>
        <input asp-for="Table.Name" class="form-control" />
        <span asp-validation-for="Table.Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>
</form>

<p><a asp-page="Index">Назад к списку таблиц</a></p>
