@page
@model EavWebApp.Pages.Tables.IndexModel
@{
    ViewData["Title"] = "Таблицы";
}

<h1 class="mt-4 mb-3">Таблицы</h1>

<p>
    <a asp-page="/Tables/Create" class="btn btn-primary mb-3">Добавить таблицу</a>
</p>

@if (Model.Tables != null && Model.Tables.Count > 0)
{
    <ul class="list-group">
        @foreach (var table in Model.Tables)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a asp-page="/Tables/TableEdit" asp-route-id="@table.Id" class="fw-bold text-decoration-none">
                    @table.Name
                </a>

                <div>
                    <a asp-page="/Tables/Edit" asp-route-id="@table.Id" class="btn btn-sm btn-outline-danger">Изменить</a>
                    <a asp-page="/Tables/Delete" asp-route-id="@table.Id" class="btn btn-sm btn-outline-danger">Удалить</a>
                </div>
            </li>
        }
    </ul>
}
else
{
    <p>Таблицы отсутствуют.</p>
}
