@page
@model EavWebApp.Pages.Values.CreateModel
@{
    ViewData["Title"] = "Создать значение";
}

<h1>Создать значение</h1>

<form method="post">
    <div class="form-group">
        <label>Значение</label>
        <input asp-for="Value.Val" class="form-control" />
    </div>

    <div class="form-group">
        <label>Поле</label>
        <select asp-for="Value.FieldId" class="form-control" asp-items="Model.FieldSelectList"></select>
    </div>

    <div class="form-group">
        <label>Таблица</label>
        <select asp-for="Value.TableId" class="form-control" asp-items="Model.TableSelectList"></select>
    </div>

    <div class="form-group">
        <label>Object ID</label>
        <input asp-for="Value.ObjectId" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Создать</button>
</form>

<p><a asp-page="Index">Назад к списку значений</a></p>
