/* Общие отступы */
.container {
    margin-top: 30px;
}

/* Стили таблицы для Index */
.table th, .table td {
    vertical-align: middle;
}

/* Кнопки CRUD */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

    .btn-primary:hover {
        background-color: #0069d9;
        border-color: #0062cc;
    }

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

    .btn-danger:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }

/* Заголовки */
h1, h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Форма */
.form-group label {
    font-weight: 500;
}

input.form-control, select.form-control {
    margin-bottom: 10px;
}

/* Чекбоксы */
.form-check-label {
    margin-left: 5px;
}
