@page
@model EavWebApp.Pages.IndexModel

@{
    ViewData["Title"] = "Главная";
}

<p>
    <a asp-page="/Tables/Index">Таблицы</a> |
    <a asp-page="/Fields/Index">Поля</a> |
    <a asp-page="/Values/Index">Значения</a>
</p>


